* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  padding-top: 150px;
}

h3 {
  padding-top: 25vh;
}

h4 {
  padding: 15px 0;
}

ul {
  list-style: none;
}

body {
  background: rgba(215, 215, 215, 0.8);
}

header nav {
  z-index: 999;
  background: linear-gradient(to right, #000 0%, #707070 100%);
}
header nav a {
  color: white !important;
  text-decoration: none;
}
header nav .no-border {
  border: none !important;
  background: transparent !important;
}

section.login-container {
  display: flex;
}

section.login-container > div {
  width: 450px;
  padding: 20px;
  text-align: center;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 150px auto;
}

section.login-container form {
  display: flex;
  flex-direction: column;
}

form input[type=password],
form input[type=text],
form button[type=submit],
form input[type=email] {
  width: 100%;
  margin-bottom: 20px;
  padding: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
}

form input[type=text]:focus,
form input[type=text]:hover,
form input[type=email]:hover,
form input[type=password]:focus,
form input[type=password]:hover {
  background-color: #ccc;
}

form button[type=submit] {
  font-weight: bold;
  color: #eee;
  text-transform: uppercase;
  background-color: #e67e22;
}

form button[type=submit]:focus,
form button[type=submit]:hover {
  background-color: #d35400;
}

img {
  width: 400px;
  height: 476px;
  object-fit: contain;
}

.carousel-indicators [data-bs-target] {
  background-color: brown !important;
}

.card {
  border: none !important;
  border-radius: 5px !important;
}

.card-body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.feu {
  border: 5px solid #ff7e00;
  background-color: #ff7e00;
}

.eau {
  border: 5px solid #00a5ff;
  background-color: #00a5ff;
}

.elec {
  border: 5px solid #e2b500;
  background-color: #e2b500;
}

.msg {
  margin-bottom: 20px;
}

.carte ul {
  padding-left: 0 !important;
  margin-top: 1rem;
}

.oeil {
  position: absolute;
  top: 93px;
  right: 20px;
}

.oeil-i {
  position: absolute;
  top: 249px;
  right: 20px;
}

.oeil-d {
  position: absolute;
  top: 325px;
  right: 20px;
}

form {
  position: relative;
}

.img-moi {
  background: currentColor;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.oeil-d,
.oeil-i,
.oeil {
  color: black;
  opacity: 0.5;
}

.cookie-card {
  position: fixed;
  right: 20px;
  bottom: 20px;
  max-width: 320px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
}

.title {
  font-weight: 600;
  color: rgb(31, 41, 55);
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75, 85, 99);
}

.description a {
  --tw-text-opacity: 1;
  color: rgb(59, 130, 246);
}

.description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;
}

.pref {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(31, 41, 55);
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background-color: transparent;
}

.pref:hover {
  color: rgb(156, 163, 175);
}

.pref:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.accept {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: rgb(17, 24, 39);
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.accept:hover {
  background-color: rgb(55, 65, 81);
}

.accept:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/*# sourceMappingURL=style.css.map */
