*{
  font-family: 'Poppins', sans-serif;
  margin: 0;

}

h1{
  padding-top: 150px;
}

h3 {
  padding-top: 20vh;
}
h4 {
  padding: 15px 0;
}
ul {
  list-style: none;
}

body {
  background: rgba(215, 215, 215, 0.8);
}
header {
  nav {
    z-index: 999;
    background: linear-gradient(to right, #000 0%, #707070 100%);
    a {
      color:white !important;
      text-decoration: none;
    }
    .no-border{
      border: none !important;
      background: transparent !important;
    }
  }
}

//=======================================================================================
//Formulaire
section.login-container{
  display: flex;
}


section.login-container > div{
  width: 450px;
  padding: 20px;
  text-align: center;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 150px auto;
}

section.login-container form{
  display: flex;
  flex-direction: column;
}


form input[type="password"],
form input[type="text"],
form button[type="submit"],
form input[type="email"]
{
  width: 100%;
  margin-bottom: 20px;
  padding: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
}

form input[type="text"]:focus,
form input[type="text"]:hover,
form input[type="email"]:hover,
form input[type="password"]:focus,
form input[type="password"]:hover {
  background-color: #ccc;
}

form button[type="submit"] {
  font-weight: bold;
  color: #eee;
  text-transform: uppercase;

  background-color: #e67e22;
}

form button[type="submit"]:focus,
form button[type="submit"]:hover {
  background-color: #d35400;
}

img{
  width: 400px ;
  height: 476px;
  object-fit: contain;
}

.carousel-indicators [data-bs-target] {
  background-color: brown !important;
}


.card {
  border: none !important;
  border-radius: 5px !important;
}
.card-body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.feu{
  border: 5px solid #ff7e00;
  background-color: #ff7e00;
}
.eau{
  border: 5px solid #00a5ff;
  background-color: #00a5ff;
}
.elec{
  border: 5px solid #e2b500;
  background-color: #e2b500;
}

.msg {
  margin-bottom: 20px;
}

.carte {
  ul {
    padding-left: 0!important;
    margin-top: 1rem;
  }
}

.oeil {
  position: absolute;
  top: 93px;
  right: 20px;
}
.oeil-i {
  position: absolute;
  top: 249px;
  right: 20px;
}
.oeil-d {
  position: absolute;
  top: 325px;
  right: 20px;
}

form {
  position:relative;
}

.img-moi {
  background: currentColor;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.oeil-d,
.oeil-i,
.oeil {
      opacity: 0.5;
}



